
:root {
    --primaria-texto: #ffffff;
    --secundaria-texto: #20f734;
    --terciaria-texto: #122535;

    --primaria: #122535;
    --secundaria: #1ffe33;

    --sucesso: #1ffe33;
    --info: #2283c5;
    --alerta: #c5e02e;
    --erro: #f21b09;

    --link-primario: #5a8faf;
    --link-secundario: #ffffff;
}

* {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, p, label {
    color: var(--primaria-texto);
}

html, body, main {
    width: 100%;
    height: 100%;
}

body {
    background-color: var(--primaria);
}

main.container {
    justify-content: center;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.btn-primary, .btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active  {
    background-color: var(--secundaria);
    border-color: var(--secundaria);
    border-radius: 20px;
    color: var(--terciaria-texto);
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    min-height: 46px;
}

.btn-primary:hover {
    filter: brightness(0.7);
    transition: filter ease-in-out .3s;
}

section.cardbase {
    border: 2px var(--secundaria) solid;
    border-radius: 20px;
    padding: 80px 60px;
}

.cardbase {
    font-family: 'Poppins', sans-serif;
}

.cardbase a {
    color: var(--link-secundario);
    font-weight: bold;
}

.cardbase h1 {
    color: var(--secundaria-texto);
    margin-bottom: 80px;
    width: 100%;
    text-align: center;
}

.cardbase .form-control {
    background-color: transparent;
    border-radius: inherit;
    border: 2px none var(--sucesso);
    border-bottom-style: solid;
    color: var(--primaria-texto);
}

.cardbase .form-control::placeholder {
    color: var(--primaria-texto);
}

.cardbase .form-control:focus {
    box-shadow: none;
}

.cardbase .cadastro {
    text-align: center;
}

.form-control .basic-input {
    background-color: transparent;
    border-radius: 10px;
    border: 2px var(--sucesso) solid;
    color: var(--primaria-texto);
}

.cadastro h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}

.form-group > div.icon {
    position: relative;
    width: 100%;
}

div.form-group i {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: var(--primaria);
    color: var(--secundaria-texto);
}
.alert {
    margin-top: 35px;
}

.alert .size-content {
    font-size: 11pt;
}

.btn-second, .btn-second:hover, .btn-second:focus, .btn.btn-second:active,
.btn-btn-second, .btn-btn-second:hover, .btn-btn-second:not(:disabled):not(.disabled).active, .btn-btn-second:not(:disabled):not(.disabled):active{
    border-radius: 5px;
    background-color: var(--primaria);
    color: var(--primaria-texto);
    border: 2px var(--secundaria) solid;
    max-width: 120px;
    font-family: 'Lato', sans-serif;
}

.alert-dismissible {
    padding-right: 10px;
}

.size-content {
    margin-top: 20px;
}

.bg {
    background-color: var(--primaria) !important;

}

.nav-item {
    font-size: 14pt;
}

.nav-item > .nav-link > .fa-solid {
    margin-left: 4px;
}

.nav-item.exit {
    margin-left: 5px;
}

.container, .container-fluid {
    max-height: calc(100% - 60px);
}

.card {
    border: 1px solid var(--sucesso);
    border-radius: 20px;
    background-color: var(--primaria);
    color: var(--primaria-texto);
}

.card .card-title {
    font-size: 24pt;
    display: block;
    width: 100%;
    text-align: end;
}

.card .valor {
    color: var(--primaria-texto);
    font-size: 28pt;
    display: block;
    width: 100%;
    text-align: end;
}

.card.saldo .card-title,
.card.saldo > .card-body > .icon > span > i {
    color: var(--info);
}

.card.receitas .card-title,
.card.receitas > .card-body > .icon > span > i {
    color: var(--sucesso);
}

.card.despesas .card-title,
.card.despesas > .card-body > .icon > span > i {
    color: var(--erro);
}

.card.limite .card-title,
.card.limite > .card-body > .icon > span > i {
    color: var(--alerta);
}

.month-select {
    justify-content: center;
    align-items: center;
}

.month-select > button {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: var(--primaria-texto);
    font-size: 16pt;
    font-weight: bold;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

.month-select > button:hover {
    background-color: var(--secundaria);
    color: var(--terciaria-texto);
    transition: ease-in-out all .5s;
}

.month-select > .month-content {
    color: var(--primaria-texto);
    font-size: 16pt;
    font-weight: bold;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
}

.month-select > .month-content > i {
    margin-left: 10px;
}

.add-btn {
    border-width: 1px;
    min-width: 178px;
    min-height: 50px;
    border-radius: 30px;
    font-size: 14pt;
}

.add-btn:hover, .add-btn:active, .add-btn:focus {
    border-radius: 30px;
}

.main-center {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 60px);
}

.modal .close {
    color: var(--primaria-texto);
}

.modal-body {
    padding: 0 40px;
}

.modal .modal-footer, .modal .modal-header {
    border-top: none;
    border-bottom: none;
}

.modal-content {
    border-radius: 15px;
    border: 2px solid var(--secundaria);
    border-top: 1px solid var(--secundaria);
    background-color: var(--primaria);
}

.input-group {
    position: relative;
}

.input-group > .form-control {
    border: 1px solid var(--secundaria);
    background-color: var(--primaria);

    border-left: 1px solid var(--primaria-texto);
    color: var(--primaria-texto);
}

.input-group > .form-control::placeholder {
    color: var(--primaria-texto);
}

.input-group > .input-group-prepend > .input-group-text {
    background-color: var(--primaria);
    border: none;
    border-top: 1px solid var(--secundaria);
    border-left: 1px solid var(--secundaria);
    border-bottom: 1px solid var(--secundaria);
    color: var(--primaria-texto);
    min-width: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 14pt;
}

.input-group > select {
    border: 1px solid var(--secundaria);
    background-color: var(--primaria);
    color: var(--primaria-texto);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control {
    font-size: 14pt;
    height: 45px;
}