<!doctype html>
<html lang="pt-BR">
<head>
    <%-include('layout/_header', { siteTitle: 'Economizai - Histórico' }) %>
    <%-include('layout/_css') %>
</head>
<body>
  <%-include('components/menu', {route:'historico'}) %>
</body>
<%-include('layout/_script') %>
</html>