<!doctype html>
<html lang="pt-BR">
<head>
    <%-include('layout/_header', { siteTitle: 'Economizai - Início ' }) %>
    <%-include('layout/_css') %>
</head>
<body>
  <%-include('components/menu', {route:'inicio'}) %>
<main class="container-fluid">
    <div class="row p-5">
        <div class="col-md-6 col-12 mb-4">
            <div class="card saldo">
                <div class="card-body d-flex justify-content-between">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="d-none d-md-block">
                            <i class="fa-solid fa-wallet" style="font-size: 60pt"></i>
                        </span>
                    </div>
                    <div>
                        <span class="card-title">Saldo</span>
                        <span class="valor">R$ 999999,00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 mb-4">
            <div class="card receitas">
                <div class="card-body d-flex justify-content-between">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="d-none d-md-block">
                            <i class="fa-solid fa-money-bill-trend-up" style="font-size: 60pt"></i> 
                        </span>
                    </div>
                    <div>
                        <span class="card-title">Receitas</span>
                        <span class="valor">R$ 999999,00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 mb-4">
            <div class="card despesas">
                <div class="card-body d-flex justify-content-between">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="d-none d-md-block">
                          <i class="fa-solid fa-money-bill-trend-up fa-rotate-180" style="font-size: 60pt"></i>
                        </span>
                    </div>
                    <div>
                        <span class="card-title">Despesas</span>
                        <span class="valor">R$ 999999,00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12">
            <div class="card limite">
                <div class="card-body">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="d-none d-md-block">
                        </span>
                    </div>
                    <span class="card-title">Limite</span>
                    <span class="valor">R$ 999999,00</span>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
<%-include('layout/_script') %>
</html>